@use '../global/mixins' as *;

.content-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.content-navbar {
  align-items: center;
  display: flex;
  padding: 8px 0 ;
  overflow-x: scroll;

  .record-count {
    min-width: 80px;
  }
}

.content-section {
  margin-bottom: 24px;
}

.content-section-header {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.content-section-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 16px;
  min-width: 80px;
}


.form-inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
}

// 詳細条件検索エリア
.filter-section {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  width: 100%;
  padding: 0 8px;

  &.show {
    padding: 8px;
    margin-bottom: 16px;
    height: auto;
  }
}

.filter-form-body {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 8px;
}

.filter-form-footer {
  display: flex;
  padding: 8px;
}
