@use '../global/mixins' as *;

.content-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.content-info-bar {
  font-size: 0.9rem;
  display: flex;
  & div:first-child {
    margin-right: 16px;
  }
  @include mobile-screen() {
    display: block;
  }
}

.content-navbar {
  align-items: center;
  display: flex;
  padding: 8px 0 ;
  overflow-x: scroll;

  .record-count {
    min-width: 80px;
  }
}

.content-section {
  margin-bottom: 16px;
}

.form-inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
}
