@use '../global/mixins' as *;

.content-title {
  font-size: 1.2rem;
  font-weight: bold;
  height: var(--height-content-title);
}

.content-navbar {
  align-items: center;
  display: flex;
  height: var(--height-content-navbar);
  padding: 8px 0 ;
  overflow-x: auto;

  .record-count {
    min-width: 80px;
  }
}

.content-section {
  margin-bottom: 24px;
}

.content-section-header {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
  overflow-x: auto;
}

.content-section-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 16px;
  min-width: 80px;
}


.form-inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
}
