.page-wrapper {
  display: flex;
}

.main-container {
  background-color: var(--color-main-bg);
  height: 100vh;
  margin-left: var(--width-sidebar-open);
  padding: 24px;
  overflow: auto;
  width: 100%;

  &.is-expanded {
    transition: margin-left 0.2s ease;
    margin-left: var(--width-sidebar-collapse);
  }
}
