.page-wrapper {
  display: flex;
}

.main-container {
  background-color: var(--color-main-bg);
  height: 100vh;
  margin-left: var(--width-sidebar);
  padding: 24px;
  overflow: auto;
  width: 100%;
}
