
/* Background Colors
-------------------------*/
.u-bg-gray {
  background-color: var(--gray)!important;
}

.u-bg-lightgray {
  background-color: var(--light-gray)!important;
}

/* Text Colors
-------------------------*/
.u-text-gray {
  color: var(--mid-gray);
}
