/* -----------------------
Display
----------------------- */
.u-flex {
  display: flex;
}

.u-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-items-center {
  align-items: center;
}

.u-inline {
  display: inline;
}
