/* -----------------------
Padding
----------------------- */
/* top */
.u-pt-1 { padding-top: 0.25rem; }
.u-pt-2 { padding-top: 0.5rem; }
.u-pt-3 { padding-top: 1rem; }
.u-pt-4 { padding-top: 1.5rem; }

/* right */
.u-pr-1 { padding-right: 0.25rem; }
.u-pr-2 { padding-right: 0.5rem; }
.u-pr-3 { padding-right: 1rem; }
.u-pr-4 { padding-right: 1.5rem; }

/* bottom */
.u-pb-1 { padding-bottom: 0.25rem; }
.u-pb-2 { padding-bottom: 0.5rem; }
.u-pb-3 { padding-bottom: 1rem; }
.u-pb-4 { padding-bottom: 1.5rem; }

/* left */
.u-pl-1 { padding-left: 0.25rem; }
.u-pl-2 { padding-left: 0.5rem; }
.u-pl-3 { padding-left: 1rem; }
.u-pl-4 { padding-left: 1.5rem; }

/* x direction */
.u-px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.u-px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.u-px-3 { padding-left: 1rem; padding-right: 1rem; }
.u-px-4 { padding-left: 1.5rem; padding-right: 1.5rem; }

/* y direction */
.u-py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.u-py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.u-py-3 { padding-top: 1rem; padding-bottom: 1rem; }
.u-py-4 { padding-top: 1.5rem; padding-bottom: 1.5rem; }

/* zero */
.u-p-0 { padding: 0; }
.u-pt-0 { padding-top: 0; }
.u-pr-0 { padding-right: 0; }
.u-pb-0 { padding-bottom: 0; }
.u-pl-0 { padding-left: 0; }
