/* -----------------------
Text Size
----------------------- */
.u-text-xs { font-size: 0.875rem; }
.u-text-sm { font-size: 0.9rem; }
.u-text-md { font-size: 1.1rem; }
.u-text-lg { font-size: 1.25rem; }

/* -----------------------
Font
----------------------- */
.u-bold {
  font-weight: bold;
}

/* -----------------------
Text Alignment
----------------------- */
.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right { text-align: right; }
.u-text-justify { text-align: justify; }


/* -----------------------
Ellipsis
----------------------- */
.u-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
