/* -----------------------
Width
----------------------- */
// Width: .u-w-8, .u-w-16, ..., .u-w-400.
@for $i from 1 through 50 {
  .u-w-#{$i * 8} {
    width: #{$i * 8}px;
  }
}

// Min Width: .u-min-w-8, .u-min-w-16, ..., .u-min-w-400.
@for $i from 1 through 50 {
  .u-min-w-#{$i * 8} {
    min-width: #{$i * 8}px;
  }
}

// Max Width: .u-max-w-8, .u-max-w-16, ..., .u-max-w-400.
@for $i from 1 through 50 {
  .u-max-w-#{$i * 8} {
    max-width: #{$i * 8}px;
  }
}
