:root {

  /* Colors
  -------------------------*/
  /* ----- Basic ----- */
  --white: #fff;
  /* Black */
  --light-black: #333;
  --black: #222;
  /* Gray */
  --gray: #ccc;
  --dark-gray: #73777B;
  /* Navy */
  --navy: #212a3e;
  --transparent-navy: rgba(101, 108, 133, 0.8);

  /* ----- Theme ----- */
  --color-sidebar: var(--navy);
  --color-main-bg: #f5f7f8;

  /* ----- Link ----- */
  --color-link: #0080ff;
  --color-link-hover: #0000ff;

  /* Height
  -------------------------*/
  --height-side-header: 64px;
  --height-modal-container: calc(100vh - 80px);
  --height-modal-header: 48px;
  --height-modal-body: calc(var(--height-modal-container) - var(--height-modal-header));
  --max-height-partials: 36px;
  --height-content-title: 32px;
  --height-content-navbar: 56px;

  --max-height-scrollable-table: calc(100vh - var(--height-content-title) - var(--height-content-navbar) - 32px);

  /* Width
  -------------------------*/
  --width-sidebar-open: 200px;
  --width-sidebar-collapse: 64px;

  /* z-index
  -------------------------*/
  --z-index-table-cell: 100;
  --z-index-table-header: 200;
  --z-index-header: 900;
  --z-index-sidebar: 900;
  --z-index-modal: 1000;
}
