/* Button
-------------------------*/
.btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  max-height: var(--max-height-partials);
  padding: 4px 16px;
  white-space: nowrap;

  &.with-icon {
    padding: 4px 8px;
    height: var(--max-height-partials);
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.btn {
  transition: background-color 0.2s ease;

  &.btn-primary {
    background-color: #0079FF;
    color: var(--white);
    &:hover {
      background-color: #006ce7;
    }
  }

  &.btn-secondary {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #27374D;
    &:hover {
      background-color: #ddd;
    }
  }

  &.btn-danger {
    background-color: #eee;
    border: 1px solid #ddd;
    color: red;
    &:hover {
      background-color: #ddd;
    }
  }
}
