:root {
  --gray: #ccc;
  --color-required: #ff0000;
  --color-focus: #89c4f4;
  --color-focus-shadow: 0 0 0 2px rgba(137, 196, 244, 0.5);
  --color-invalid-focus: #ff0000;
  --color-invalid-focus-shadow: 0 0 0 2px rgba(220, 53, 69, .25);
}

.input-group {
  &+.input-group {
    margin-top: 8px;
  }
}

/* Input
-------------------------*/
.input-field,
.form-select {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  color: var(--black);
  display: block;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
  height: var(--max-height-partials);
  padding: 4px 8px;
  width: 100%;

  &:focus {
    border-color: var(--color-focus);
    box-shadow: var(--color-focus-shadow);
    outline: none;
  }

  &.is-invalid {
    border: 1px solid var(--color-invalid-focus);

    &:focus {
      box-shadow: var(--color-invalid-focus-shadow);
    }
  }
}

.form-select {
  height: var(--max-height-partials);
}

.input-field:read-only {
  background-color: #eee;
  color: #333;

  &:focus {
    border-color: var(--gray);
    box-shadow: none;
  }
}

.input-field[type="checkbox"],
.input-field[type="radio"] {
  display: inline-block;
  height: auto;
  width: auto;
}

/* Textarea
-------------------------*/
.textarea-field {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  color: var(--black);
  display: block;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
  padding: 8px;
  width: 100%;
  resize: vertical;

  &.minimum {
    min-height: var(--max-height-partials);
  }

  &.small {
    min-height: 88px;
  }

  &.medium {
    min-height: 160px;
  }

  &.large {
    min-height: 240px;
  }

  &:focus {
    border-color: var(--color-focus);
    box-shadow: var(--color-focus-shadow);
    outline: none;
  }

  &.is-invalid {
    border: 1px solid var(--color-invalid-focus);

    &:focus {
      box-shadow: var(--color-invalid-focus-shadow);
    }
  }

  &:read-only {
    background-color: #eee;
    color: #333;

    &:focus {
      border-color: var(--gray);
      box-shadow: none;
    }
  }
}

/* Validation
-------------------------*/
.invalid-feedback {
  color: var(--color-invalid-focus);
  font-size: 0.875rem;
}

/* Label
-------------------------*/
.form-label {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;

  .required-mark {
    color: var(--color-required);
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 8px;
  }
}
