
.icon-wrapper {
  align-items: center;
  display: flex;
}

.MuiSvgIcon-root {
  &.sidenav-icon {
    margin-right: 8px;
    font-size: 1.6rem;
  }

  &.logout-icon {
    margin-right: 4px;
    font-size: 1.25rem;
  }

  &.account-icon {
    margin-right: 8px;
    font-size: 2rem;
  }

  &.header-menu-icon {
    font-size: 1.75rem;
  }

  &.header-account-icon {
    font-size: 1.75rem;
  }
}

