@use '../global/mixins' as *;

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-modal);
}

.modal-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 90vh;
  margin: 40px auto;
  max-width: 800px;

  @include mobile-screen() {
    height: 100vh;
    margin: 0;
  }
}

/* Header
-------------------------*/
.modal-header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.modal-title {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Body
-------------------------*/
.modal-body {
  padding: 16px;

  &.is-scrollable {
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
    max-height: calc(90vh - 80px);

    @include mobile-screen() {
      max-height: 90vh;
    }
  }

}
