@use '../global/mixins' as *;

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-modal);
}

.modal-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: var(--height-modal-container);
  max-height: 800px;
  margin: 40px auto;
  max-width: 800px;

  @include mobile-screen() {
    height: 100vh;
    max-height: 100vh;
    margin: 0;
  }
}

/* Header
-------------------------*/
.modal-header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  height: var(--height-modal-header);
  justify-content: space-between;
  padding: 8px 16px;
}

.modal-title {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Body
-------------------------*/
.modal-body {
  padding: 16px;
  height: var(--height-modal-body);

  &.is-scrollable {
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
  }

  @include mobile-screen() {
    height: calc(100vh - var(--height-modal-header));
  }
}

/* Table in Modal
-------------------------*/
.in-modal {
  height: calc(800px - var(--height-modal-header) - 96px);
}
