@use '../global/mixins' as *;

:root{
  /* Color
  -------------------------*/
  --color-table-bg: #fff;
  --color-table-hover: #f0faff;
  --color-table-border: #ddd;
  --color-table-header: #ccc;
}

/* -----------------------
Table styles
----------------------- */
.table-wrapper {
  background-color: var(--color-table-bg);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &.is-scrollable {
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    max-height: var(--max-height-scrollable-table);
  }
}

.table {
  background-color: var(--color-table-bg);
  border-collapse: collapse; // trにborderを適用する為に
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.table-header {
  background-color: var(--color-table-header);

  &.is-sticky {
    position: sticky;
    top: 0;
    z-index: var(--z-index-table-header);
  }
}

.table-row {
  border-bottom: 1px solid var(--color-table-border);

  &.emphasized-row {
    border-bottom: 2px solid #A9A9A9;
  }
}

.th-cell,
.td-cell {
  border-right: 1px solid var(--color-table-border);
  padding: 8px 16px;
  overflow-wrap: break-word;
}

.th-cell {
  color: var(--light-black);
  font-weight: bold;
}

.td-cell {
  white-space: pre-wrap;
}

/* -----------------------
Flexible for mobile layout
----------------------- */
@include mobile-screen() {
.table-row.is-flexible {
    display: flex;
    flex-direction: column;
    transition: margin 0.3s ease, padding 0.3s ease, border 0.3s ease;

    &:first-child {
      margin-top: 16px;
    }

    &:last-child {
      margin-bottom: 16px;
    }

    .th-cell {
      border: none;
      padding: 0 16px;
    }

    .td-cell {
      border: none;
      padding: 0 16px 8px;
    }
  }
}

/* -----------------------
Round the corners of the table
----------------------- */
.table {
  border-radius: 4px;

  &-header {
    .table-row {
      .th-cell {
        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }

  &-body {
    .table-row {
      &:last-child {
        .td-cell {
          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}

/* -----------------------
Fixed cell
----------------------- */
.th-cell,
.td-cell {
  &.col-fixed {
    background-color: var(--white);
    left: 0;
    position: sticky;
    z-index: var(--z-index-table-cell);
    border-right: none; // 擬似要素と重なって太くなるため無効にする

    // 固定セルをスクロール時にborder-rightを擬似的に表現
    // tableのborder-collapseはtrにborderをつけるためcollapseに保持する必要があるため
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: var(--color-table-border);
    }
  }
}

.th-cell {
  &.col-fixed {
    background-color: var(--color-table-header);
  }
}

/* -----------------------
Hoverable row, cell
----------------------- */
.table-row {
  &.is-hoverable {
    .th-cell,
    .td-cell {
      transition: background-color 0.2s ease;
    }

    &:hover {
      .th-cell,
      .td-cell {
        background-color: var(--color-table-hover);
      }
    }
  }
}

/* -----------------------
Clickable row, cell
----------------------- */
.table-row {
  &.is-clickable {
    cursor: pointer;

    .th-cell,
    .td-cell {
      transition: background-color 0.2s ease;
    }

    &:hover {
      .th-cell,
      .td-cell {
        background-color: var(--color-table-hover);
      }
    }
  }
}

/* -----------------------
Table in td-cell
td要素内に擬似テーブルを作るためのスタイル
----------------------- */
.table.has-inner-table {
  height: 100%;
  .td-cell {
    height: 100%;
    vertical-align: top; // inner-tbodyのheight100%でテキストが押し下げられるのを防ぐ為
  }

  .th-cell.contains-table,
  .td-cell.contains-table {
    padding: 0;
  }

  .inner-tbody,
  .inner-thead {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .inner-tr {
    align-items: stretch;
    display: flex;
    flex: 1;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-table-border);
    }
  }

  .inner-th {
    font-weight: bold;
  }

  .inner-td,
  .inner-th {
    padding: 8px 16px;

    &:not(:last-child) {
      border-right: 1px solid var(--color-table-border);
    }
  }
}
