.guest-layout {
  background-color: var(--light-gray);
  min-height: 100vh;
}

/* Login
-------------------------*/
.login-container {
  padding: 80px 16px;
  margin: 0 auto;
  max-width: 480px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom:16px;
  text-align: center;
}

.login-form-block {
  background-color: var(--white);
  border-radius: 8px;
  padding: 24px;
}

.login-input-row {

  &+.login-input-row {
    margin-top: 16px;
  }
}

.btn-login {
  background-color: var(--light-black);
  border-radius: 8px;
  color: var(--white);
  padding: 8px;
  width: 100%;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
  }
}
